@page "/customeroverview"
@page "/customeroverview/{ReturnId}"

@inject IJSRuntime JS

<script src="js/interop.js"></script>

<h1>Customers</h1>

@attribute [StreamRendering(true)]

@if (Customers == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table>
        <thead>
            <tr>
                <th>Customer ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var customer in Customers)
            {
                <tr>
                    <td>@customer.CustomerId</td>
                    <td>@customer.FirstName</td>
                    <td>@customer.LastName</td>
                    <td>
                        <a href="@($"customerdetail/{customer.CustomerId}")" id="@customer.CustomerId" class="btn btn-primary">Details</a>
                    </td
                </tr>
            }
        </tbody>
    </table>

    @if (ReturnId != null)
    {
        <body onload="ScrollToElement" />
    }
}